body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 320px;
}

.love-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

h1 {
    margin-top: 15px;
    color: #ff2e63;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
    transition: 0.3s;
}

#yes {
    background-color: #28a745;
    color: white;
}

#yes:hover {
    transform: scale(1.1);
}

#no {
    background-color: #dc3545;
    color: white;
}

#message {
    margin-top: 15px;
    color: #333;
    font-weight: bold;
}
